*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html,body{
    height: 100%;
    width: 100%;
}

#header{
    height: 70px;
    width: 100%;
    background-color: #f2f2f2;
    display: flex;
    position: fixed;
    z-index: 1;
}

#logo{
    height:70px ;
    width: 250px;
    padding-top: 17px;
    padding-left: 10px;
}

#res-items{
    height: 70px;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#res-items img{
    height: 32px;
    width: 32px;
    margin: 6px;
}

#close{
    height: 70px;
    width: 290px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#close img{
    height: 18px;
    width: 18px;
    margin-right: 15px;
}